.form-page
  .form-page__inner
    == render 'form', user: @user

/ .form-wrapper
/   .form-wrapper__top-bar
/     .back-btn
/       span
/         i.fa.fa-arrow-left aria-hidden="true"
/       | Back
/   .form-wrapper__inner
/     .paper
/       == render 'form', user: @user