
/* ==== Color Variables ==== */

$un_primary_yellow: #FFBF00;
$un_black: #3E3E3E;
$un_dark_grey: #9B9B9B;
$un_light_grey: #9CA7AE;
$un_bg_grey: #F7F7F7;
$un_purple: #6554E0;
$un_dark_purple: #4531db;


/* Brand Color */
$brand-color: #6554E0;

/* Semantic Color */
$informative-clr: #2F80ED;
$error-clr: #F83636;
$warning-clr: #FFC845;
$positive-clr: #30C39E;
$disabled-clr: #9CA7AE;

/* Blue Colors */
$blue-regular-clr: #2F80ED;
$blue-light-clr: #CDE1FB;
$blue-lightest-clr: #EEF5FE;

/* Red Colors */
$red-regular-clr: #F83636;
$red-light-clr: #FDCFCF;
$red-lightest-clr: #FEEFEF;

/* Yellow Colors */
$yellow-regular-clr: #FFC845;
$yellow-light-clr: #FFEFC7;
$yellow-lightest-clr: #FFF8E9;

/* Green Colors */
$green-regular-clr: #30C39E;
$green-light-clr: #C1EDE2;
$green-lightest-clr: #EEFAF7;

/* Grey Colors */
$grey-regular-clr: #C7CED5;
$grey-light-clr: #D9DEE3;
$grey-lighter-clr: #F3F4F6;
$grey-lightest-clr: #F8F9FA;
$grey-dark-clr: #828282;

/* Ink Colors */
$ink-regular-clr: #1D2129;
$ink-light-clr: #3B4352;
$ink-lighter-clr: #y3;
$ink-lightest-clr: #9CA7AE;

/* Text Colors */
$primary-text-clr: #y3;
$subdued-text-clr: #D9DEE3;

/* Common Colors */
$white: #FFFFFF;
$black: #000000;

