@import "variable";

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin font($size: $t3-text, $color: $primary-text-clr, $weight: normal) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin transition-linear {
  transition: all .2s linear;
}

