$elephant-black: #1A1D1F;
$nav-btn-color: #FFCB05;
$nav-text-color: white;
$sidebar-background: #242536;
$main-background: #F6F8FA;
$table-background: #ffffff;
$heading-color: rgb(224, 193, 14);
$form-control-background: rgba(50,50,50,0.6) !important;
$nav-active-border: 4px solid #0099ff;
$active-bg: #000000;
$paginate-btn-color: rgb(180, 149, 23);

//general colors
$white: #FFFFFF;