
/* Colors */
$primary-clr: #188EFB;
$secondary-clr: #1B1D1F;
$main-background: #F6F8FA;
$white: #FFFFFF;
$black: #000000;
$text-color-1: #1D2129;
$text-color-2: #4A4A4A;

/* Typography */
$t1-text: 20px;
$t2-text: 18px;
$t3-text: 16px;
$t4-text: 14px;
$t5-text: 13px;
$t6-text: 12px;

/* font weights */
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600
);

/* Border-radius */
$radius-0: 0;
$radius-1: 1px;
$radius-2: 2px;
$radius-3: 3px;
$radius-4: 4px;
$radius-5: 5px;
$radius-6: 6px;
$radius-8: 8px;
$circle: 50%;
