@import '../helpers/index.scss';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1b1d1f;
  &__form-inner {
    width: 450px;
    max-width: 450px;
    margin: 0 auto;
    .header-log {
      text-align: center;
      img {
        width: 250px;
      }
    }
    .header-title {
      margin: 30px 0;
      letter-spacing: 2px;
      text-align: center;
      color: $white;
    }

    .field-50 {
      display: flex;
      margin-bottom: 24px;
      &__item {
        width: 50%;
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }

    .field-100 {
      width: 100%;
      margin-bottom: 24px;
    }

    .get-start-btn {
      width: 100%;
      padding: 8px;
      @include font($size: $t4-text, $color: $white);
      background: linear-gradient(to right, $brand-color 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      border: 1px solid $white;
      border-radius: $radius-4;
      @include transition-linear;
      &:hover {
        background-position: left bottom;
        border-color: $brand-color;
      }
    }

    .forgot-password {
      margin-bottom: 8px;
      text-align: right;
      a {
        @include font($size: $t4-text, $color: $brand-color);
      }
    }

    input {
      display: block;
      width: 100%;
      height: 39px;
      padding: 6px 12px;
      @include font($size: $t3-text, $color: #555555);
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: $radius-2;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      &:focus {
        border-color: #66afe9 !important;
        outline: 0 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
      }
    }
  }
}
