@import "../helpers/index.scss";

.cm-filters-v2 {
  position: fixed;
  top: 140px;
  left: 225px;
  width: calc(100% - 225px);
  min-height: 64px;
  padding: 16px 24px;
  background-color: $white;
  z-index: 1;
  &__inner {
    @include flex(row, flex-start, center, wrap);
    .filter-chips-wrapper {
      .filter-chip {
        margin-left: 16px
      }
    }
    .add-filter-btn {
      font-size: $t4-text;
      line-height: 22px;
      font-weight: 600;
      color: $primary-text-clr;
      margin-left: 16px;
      cursor: pointer;
      span {
        margin-right: 4px;
      }
    }
    .clear-btn { 
      position: relative;
      font-size: $t4-text;
      line-height: 22px;
      font-weight: 600;
      color: $ink-lighter-clr;
      margin-left: 32px;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -16px;
        height: 32px;
        border-left: 1px solid $grey-regular-clr;
      }
    }
  }
}

.cm-filters {
  @include flex(row, space-between, flex-start, nowrap);
  position: fixed;
  top: 140px;
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  background-color: $white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
  @media screen and (max-width: 1280px) {
    flex-wrap: wrap;
  }
  &__lhs {
    @include flex(row, flex-start, center, wrap);
    width: 75%;
    .filter-field {
      position: relative;
      width: 250px;
      margin: 4px 10px 4px 0;
      align-self: center;
      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      //input-styles
      input {
        width: 100%;
        height: 39px;
        border: 1px solid #ccc;
        border-radius: $radius-4;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        &:focus {
          border-color: $brand-color !important;
          outline: 0 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
        }
      }

      //select2 styles
      .select2 {
        width: 100% !important;
        .selection {
          //single-select-styles
          .select2-selection--single {
            height: 39px;
            border: 1px solid #ccc;
            border-radius: $radius-4;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            &:focus {
              border-color: $brand-color;
              outline: 0;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
            .select2-selection__rendered {
              color: #555555;
              line-height: 36px;
              .select2-search--inline {
                .select2-search__field {
                  height: 26px !important;
                }
              }
            }
            .select2-selection__arrow {
              top: 7px;
              b {
                border-color: $brand-color transparent transparent transparent;
              }
            }
          }
          //multi-select-styles
          .select2-selection--multiple {
            max-height: 39px;
            border: 1px solid #ccc;
            border-radius: $radius-4;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            overflow-y: auto;
            .select2-selection__rendered {
              .select2-search--inline {
                .select2-search__field {
                  height: 26px !important;
                  border: none;
                }
              }
            }
          }
        }
      }

      //single-select-arrow-styles
      .select2-container--open {
        .selection {
          .select2-selection--single {
            .select2-selection__arrow {
              top: 7px;
              b {
                border-color: transparent transparent $brand-color transparent;
              }
            }
          }
        }
      }

      .filter-rangepicker {
        padding: 6px 12px;
        color: #172b4d;
        font-size: 16px;
      }

      .field-area {
        display: block;
        padding: 6px 12px;
        font-size: 16px;
        color: #555555;
      }
      .search-icon {
        position: absolute;
        top: 10px;
        right: 15px;
        color: $brand-color;
      }
      .down-arrow-icon {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        color: $brand-color;
      }
    }
  }
  &__rhs {
    width: 25%;
    text-align: right;
    .filter-btn {
      padding: 5px 10px;
      color: $white;
      font-size: 16px;
      background-color: $brand-color;
      border: none;
      border-radius: $radius-4;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.2);
      }
      span {
        margin-right: 5px;
      }
    }
  }
}
