@import "../helpers/index.scss";

.quick-search-modal {
  .modal-dialog {
    max-width: 526px;
    height: auto;
    .modal-content {
      .modal-body {
        padding: 24px 24px 0;
      }
    }
  }
  .quick-search-field {
    .clear-search {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: $t4-text;
      line-height: 22px;
      color: $ink-lighter-clr;
      cursor: pointer;
    }
  }
  .search-results-container {
    margin: 16px 0;
    .result-item {
      padding: 8px 16px;
      font-size: $t4-text;
      line-height: 22px;
      span:nth-child(1) {
        color: #828282;
      }
      span:nth-child(2) {
        margin-left: 8px;
        color: $primary-text-clr;
      }
    }
  }
  .results-action {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    box-shadow: inset 0px 1px 0px rgba(148, 151, 155, 0.15);
    .select {
      font-size: $t6-text;
      line-height: 16px;
      color: $ink-lightest-clr;
      cursor: pointer;
      .move-arrow {
        font-size: 10px;
        margin-right: 4px;
        &:nth-child(2) {
          margin-right: 8px;
        }
      }
    }
    .enter-btn {
      @include font($size: $t6-text, $color: $ink-lightest-clr, $weight: 600);
      line-height: 16px;
      margin: 0 8px 0 24px;
      padding: 0;
    }
    .open-btn {
      @include font($size: $t6-text, $color: $ink-lightest-clr);
      line-height: 16px;
      padding: 0;
    }
  }
}
