@import "../helpers/index.scss";

.show-wrapper {
  margin-top: 60px;

  &__tab-bar {
    position: fixed;
    top: 60px;
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    height: 60px;
    padding: 0 20px;
    background-color: $white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
    z-index: 9;

    .tab-menu {
      display: flex;
      .tab-item {
        color: #172b4d;
        font-size: 14px;
        font-weight: 600;
        padding: 18px 0;
        margin-right: 24px;
        cursor: pointer;
        &.active {
          border-bottom: 2px solid #0099ff;
        }
      }
    }

    .edit-btn {
      padding: 5px 10px;
      color: $white;
      background-color: #0099ff;
      border-radius: 4px;
      transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
        transform: scale(1.2);
      }
    }
  }

  &__filter-bar {
    position: fixed;
    top: 140px;
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    min-height: 60px;
    padding: 10px 20px;
    background-color: $white;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    z-index: 9;
  }

  &__info-inner {
    margin-top: 240px;
    padding: 20px;

    .paper {
      padding: 20px;
      background-color: $white;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #ebecf0;
      border-radius: 4px;
    }

    .info-flex {
      display: flex;
      margin-bottom: 24px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &__lhs {
        width: 20%;
        p {
          color: #172b4d;
          font-size: 14px;
          line-height: 19px;
          opacity: 0.6;
          margin: 0;
        }
      }
      &__rhs {
        width: 80%;
        p {
          color: #172b4d;
          font-size: 14px;
          line-height: 19px;
          margin: 0;
        }
      }
    }
  }
}
