@import "../helpers/index.scss";

.cm-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  background-color: #252525;
  // overflow: hidden;
  z-index: 2;

  &__logo-header {
    display: flex;
    align-items: center;
    padding: 16px;
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }

  &__quick-search {
    position: relative;
    padding: 12px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.15);
    input {
      width: 100%;
      position: relative;
      font-size: $t4-text;
      line-height: 22px;
      color: $ink-lightest-clr;
      padding-left: 34px;
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    span {
      position: absolute;
      top: 14px;
      left: 24px;
      font-size: $t4-text;
      color: $ink-lightest-clr;
    }
  }

  &__menu-wrapper {
    height: calc(100vh - 180px);
    padding: 16px 0;
    overflow-y: auto;
    .menu-item {
      font-size: $t4-text;
      color: $ink-lightest-clr;
      padding: 8px 24px;
      transition: all 0.2s linear;
      cursor: pointer;
      .menu-icon {
        margin-right: 8px;
      }
      .list-arrow {
        font-size: 10px;
        margin-left: 8px;
        vertical-align: text-bottom;
      }
      &:hover {
        color: $white;
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .menu-sub-list {
      .menu-sub-item {
        font-size: $t4-text;
        color: $ink-lightest-clr;
        padding: 8px 8px 8px 45px;
        transition: all 0.2s linear;
        &:hover {
          color: $white;
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .menu-link {
      color: inherit;
      text-decoration: none;
    }
  }

  &__tabs-wrapper {
    height: calc(100vh - 115px);
    padding: 16px 0;
    overflow-y: auto;

    .tab-link {
      padding: 0;
      text-decoration: none;
      color: $white;
      cursor: pointer;
      .tab-item {
        position: relative;
        padding: 10px 0;
        transition: all 0.2s linear;
        cursor: pointer;
        &:hover {
          background-color: #4b4b4b;
        }
        &.active {
          background-color: $black;
          border-left: 4px solid $brand-color;
        }
        .tab-name {
          color: $white;
        }
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 24px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15);
    .profile-name {
      display: inline-flex;
      align-items: center;
      position: relative;
      font-size: $t4-text;
      line-height: 22px;
      color: $ink-lightest-clr;
      cursor: pointer;
      .profile-avatar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        margin-right: 8px;
        color: $white;
        font-size: 10px;
        font-weight: 900;
        background-color: $brand-color;
        border-radius: $circle;
        vertical-align: middle;
      }
    }
    .profile-popup {
      position: absolute;
      left: 228px;
      bottom: 10px;
      width: 268px;
      height: 186px;
      background-color: $white;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: $radius-4;
      animation: fadeIn 0.2s linear;
      .profile-info {
        display: grid;
        grid-template-columns: 1fr 32px;
        grid-gap: 9px;
        padding: 8px 16px;
        box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
        &__left {
          .name-text {
            font-size: $t4-text;
            line-height: 22px;
            color: $primary-text-clr;
            margin: 0;
          }
          .email-text {
            font-size: $t4-text;
            line-height: 22px;
            color: $ink-lightest-clr;
            margin: 0;
          }
        }
        &__right {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          color: $white;
          font-size: $t3-text;
          font-weight: 600;
          background-color: $brand-color;
          border-radius: $circle;
          vertical-align: middle;
        }
      }
      .page-options {
        padding: 8px 0;
        box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
        .page-link {
          display: block;
          font-size: $t4-text;
          line-height: 22px;
          color: $primary-text-clr;
          padding: 4px 16px;
          border: none;
          transition: all 0.2s linear;
          &:hover {
            background-color: $grey-lighter-clr;
          }
        }
      }
      .auth-option {
        padding: 8px 0;
        .auth-link {
          display: block;
          font-size: $t4-text;
          line-height: 22px;
          color: $primary-text-clr;
          padding: 4px 16px;
          transition: all 0.2s linear;
          &:hover {
            background-color: $grey-lighter-clr;
          }
        }
      }
    }
  }
}
