@import "../helpers/index.scss";

.main-body {
  margin-top: 280px;

  &__filter-bar {
    position: fixed;
    top: 140px;
    // left: 250px;
    // width: calc(100% - 250px);
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    background-color: $white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
    z-index: 9;
  }

  &__table-container {
    margin-top: 174px; //This should be height of the filters + navbar height
    padding: 20px;
  }

  .admin-table {
    background-color: $white;
    border-radius: $radius-5;
    .record-found {
      padding: 10px;
      color: #31383d;
      font-size: 14px;
      opacity: 0.5;
    }
    .cm-table {
      width: 100%;
      &__header {
        tr > th {
          width: 20%;
          color: #172b4d;
          background-color: #fafbfc;
          box-shadow: inset 0 1px 0 0 #ebecf0;
          font-weight: 600;
          font-size: 14px;
          border-bottom: none;
          height: 40px;
          padding: 0 10px;
        }
      }

      &__body {
        tr {
          transition: all 0.2s linear;
          &:hover {
            background-color: #dfe4e7;
          }
        }

        tr > td {
          color: #172b4d;
          font-size: 14px;
          padding: 8px 10px;
        }
        .edit-icon {
          font-size: 20px;
          cursor: pointer;
          @include transition-linear;
          &:hover {
            box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .admin-table-index {
    .table-top  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__total-count {
        font-size: $t4-text;
        line-height: 22px;
        color: $ink-lighter-clr;
        margin: 0;
      }
      &__column-action {
        .column-btn {
          padding: 4px 8px;
          span:nth-child(2) {
            margin: 0 0 0 4px;
          }
        }
      }
    }
  }

  // table-column-modal
  .table-column-modal {

    //modal overwritten styles
    .modal-dialog {
      .modal-content {
        .modal-header {
          position: relative;
          padding: 24px 32px 18px;
          border: none;
          box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
          .modal-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: $primary-text-clr;
          }
          .close {
            position: absolute;
            top: 4px;
            right: 8px;
            padding: 4px;
            margin: 0;
          }
        }
        .modal-body {
          padding: 0;
        }
        .modal-footer {
          padding: 16px 32px;
          border: none;
          box-shadow: inset 0px 1px 0px rgba(148, 151, 155, 0.15);
        }
      }
    } 

    .columns-list {
      .column-item  {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 13px 24px;
        box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
        &:hover {
          .dragger {
            display: block;
          }
        }
        &__name {
          font-size: 14px;
          line-height: 22px;
          margin-left: 4px;
          color: $primary-text-clr;
        }
        &__action {
          padding: 5px 8px;
          font-size: 14px;
          color: $ink-lightest-clr;
        }
        .dragger {
          display: none;
          position: absolute;
          left: 4px;
          top: 8px;
          padding: 5px;
          color: $ink-lightest-clr;
          border-radius: $radius-4;
          cursor: grab;
          &:hover {
            background: $grey-lighter-clr;
          }
        }
      }
    } 
  }

  .cm-pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    &__item {
      padding: 5px 10px;
      font-size: 16px;
      background-color: $white;
      border: 1px solid #cbdcde;
      border-radius: $radius-4;
      &:nth-child(2) {
        margin-left: 16px;
        transition: all 0.2s linear;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
