@import "../helpers/index.scss";

.flag-alert {
  max-width: 752px;
  padding: 24px;
  background: $red-lightest-clr;
  border-radius: $radius-4;
  .alert-header {
    @include font($size: $t6-text, $color: $red-regular-clr, $weight: bold);
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
    span {
      margin-right: 4px;
    }
  }
  .alert-body {
    margin-top: 16px;
    .body-title {
      @include font($size: $t3-text, $color: $primary-text-clr, $weight: bold);
      line-height: 24px;
      margin: 0 0 8px;
    }
    .body-info {
      @include font($size: $t4-text, $color: $primary-text-clr);
      line-height: 22px;
      margin: 0;
    }
    .body-list-info {
      padding-inline-start: 20px;
      margin: 0;
      li {
        @include font($size: $t4-text, $color: $primary-text-clr);
        line-height: 22px;
        margin-bottom: 8px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.toast-alert {
  display: flex;
  align-items: center;
  max-width: 225px;
  padding: 8px 16px;
  border-radius: $radius-4;
  &.informative {
    background: $blue-light-clr;
  }
  &.successful {
    background: $green-light-clr;
  }
  &.warning {
    background: $yellow-light-clr;
  }
  &.error {
    background: $red-light-clr;
  }
  .toast-info {
    @include font($size: $t4-text, $color: $primary-text-clr);
    line-height: 22px;
    margin: 0;
  }
  .toast-close {
    @include font($size: $t4-text, $color: $ink-lighter-clr);
    margin-left: 24px;
    cursor: pointer;
  }
}

.inline-alert {
  @include font($size: $t4-text, $color: $primary-text-clr);
  line-height: 22px;
  span {
    margin-right: 4px;
  }
  &.informative {
    span {
      color: $blue-regular-clr;
    }
  }
  &.successful {
    span {
      color: $green-regular-clr;
    }
  }
  &.warning {
    span {
      color: $yellow-regular-clr;
    }
  }
  &.error {
    color: $red-regular-clr;
    span {
      color: $red-regular-clr;
    }
  }
}
