@import '../helpers/index.scss';

.cta-btn {
  padding: 8px 16px;
  font-size: $t4-text;
  font-weight: 600;
  color: $white;
  background-color: #6554E0;
  border: none;
  border-radius: $radius-4;
  transition: all .2s linear;
  &:hover {
    background-color: #4D40AA;
  }
  &:focus {
    outline: 3px auto rgba(47, 128, 237, 0.3);
    outline-offset: 1px;
  }
  &.disabled {
    color: #9CA7AE;
    background: #F3F4F6;
    cursor: not-allowed !important;
    &:hover {
      background-color: #F3F4F6;
    }
  }
}

.primary-btn {
  padding: 8px 16px;
  font-size: $t4-text;
  font-weight: 600;
  color: #6554E0;
  background-color: $white;
  border: 1px solid #6554E0;
  border-radius: $radius-4;
  transition: all .2s linear;
  &:hover {
    background-color: #E6E4FA;
  }
  &:focus {
    outline: 3px auto rgba(47, 128, 237, 0.3);
    outline-offset: 2px;
  }
  &.disabled {
    color: #9CA7AE;
    background: $white;
    border: 1px solid #C7CED5;
    cursor: not-allowed !important;
    &:hover {
      background-color: $white;
    }
  }
}

.secondary-btn {
  padding: 8px 16px;
  font-size: $t4-text;
  font-weight: 600;
  color: #1D2129; 
  background-color: $white;
  border: 1px solid #1D2129;
  border-radius: $radius-4;
  transition: all .2s linear;
  &:hover {
    background-color: #D9DEE3;
  }
  &:focus {
    outline: 3px auto rgba(47, 128, 237, 0.3);
    outline-offset: 2px;
  }
  &.disabled {
    color: #9CA7AE;
    background: $white;
    border: 1px solid #C7CED5;
    cursor: not-allowed !important;
    &:hover {
      background-color: $white;
    }
  }
  span:nth-child(2) {
    margin: 0 4px 0 8px;
  }
}

.gray-border-btn {
  padding: 7px 16px;
  font-size: $t4-text;
  font-weight: 600;
  color: #1D2129;
  background-color: $white;
  border: 1px solid #1D2129;
  border-radius: $radius-4;
  transition: all .2s linear;
  &:hover {
    background-color: #D9DEE3;
  }
  &:focus {
    outline: 3px auto rgba(47, 128, 237, 0.3);
    outline-offset: 2px;
  }
  &.disabled {
    color: #9CA7AE;
    background: $white;
    border: 1px solid #C7CED5;
    cursor: not-allowed !important;
    &:hover {
      background-color: $white;
    }
  }
}

.ghost-btn {
  padding: 8px 16px;
  font-size: $t4-text;
  font-weight: 600;
  color: #1D2129;
  background-color: transparent;
  border: none;
  border-radius: $radius-4;
  transition: all .2s linear;
  &:hover {
    background: #D9DEE3;
  }
  &:focus {
    outline: 3px auto rgba(47, 128, 237, 0.3);
  }
  &.disabled {
    color: #9CA7AE;
    background: #D9DEE3;
    border: none;
    cursor: not-allowed !important;
    &:hover {
      background-color: #D9DEE3;
    }
  }
}
