@import "../helpers/index.scss";

.status-tag {
  font-size: $t4-text;
  line-height: 22px;
  padding: 4px;
  &.default-tag {
    color: $primary-text-clr;
    background: $grey-lighter-clr;
  }
  &.green-tag {
    color: $green-regular-clr;
    background: $green-lightest-clr;
  }
  &.yellow-tag {
    color: $yellow-regular-clr;
    background: $yellow-lightest-clr;
  }
  &.red-tag {
    color: $red-regular-clr;
    background: $red-lightest-clr;
  }
  &.blue-tag {
    color: $blue-regular-clr;
    background: $blue-lightest-clr;
  }
}

.filter-chip {
  display: inline-block;
  position: relative;
  padding: 5px 16px;
  font-size: $t4-text;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid $ink-regular-clr;
  border-radius: $radius-4;
  @include transition-linear;
  cursor: pointer;
  &:hover {
    background-color: #F3F4F6;
    .filter-chip-remove {
      display: block;
    }
  }
  span:nth-child(1) {
    color: $ink-lighter-clr;
  }
  span:nth-child(2) {
    color: $ink-regular-clr;
  }
  .filter-chip-remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 16px;
    background: linear-gradient(270deg, #F3F4F6 81.75%, rgba(243, 244, 246, 0) 100%);
    border-radius: $radius-4;
    i {
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: $ink-lighter-clr;
    }
  }
}